@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

body, body *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.above-header{
    background-color: #60267F;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff;
}
.learn-more{
    color: #fff;
}
header{
    width: 100%;
    display: inline-block;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05)
}
.logo{
    width: auto;
    height: 35px;
    float: left;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.menu{
    float: right;
}
.menu-link{
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: .3s ease;
}
.menu-link-last{
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: #9A54BC;
    font-weight: bold;
    border: 2px solid #9A54BC;
    padding: 5px 10px;
    border-radius: 4px;
    transition: .3s ease;
}
.menu-link-last:hover{
    background-color: #9A54BC;
    color: #fff;
}
.menu-link:hover{
    color: #9A54BC;
    font-size: 14px;
}
.first-section{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.main-text{
    display: inline-block;
    margin-top: 20px;
}
.request-demo-button{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #9A54BC;
    color: #fff;
    font-weight: bolder;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: transform 0.5s;
}
.request-demo-button:hover, .request-demo-button:focus{
  transform: scale(1.1);
}
.circle-elements{
    width: 405px;
    height: 405px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}
.first-circle{
    background-color: #F5E1FF4D;
    width:100%;
    height: 405px;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: .2s ease;
}
.first-circle:hover{
    border: 2px solid #9A54BC;
}
.explore-product{
    display: block;
    background-color: #fff;
    color: #9A54BC;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 4px;
    border: 2px solid #9A54BC;
    font-weight: bold;
    transition: .4s ease;
    position: absolute;
    bottom: 60px;
    left: 120px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.explore-product:hover{
    background-color: #9A54BC;
    color: #fff;
}
.second-circle{
    display: block;
    background-color: #F5E1FFCC;
    width: 50%;
    height: 50%;
    border-radius: 250px;
    position: absolute;
    top: 15px;
    left: 100px;
    transition: .2s ease;
}
.second-circle:hover{
    border: 2px solid #9A54BC;
}
.phone-div{
    width: 50%;
    background-color: #fff;
    height: 220px;
    position: absolute;
    top: 7px;
    left: 50px;
    border: 2px solid #9A54BC;
    border-radius: 4px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}
.logo2 {
    width: 90%;
    position: absolute;
    top: 45%;
    left: 5%;
}
.brands{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.brand-images {
    display: flex;
    text-align: center;
    margin-left: 100px;
}
.brand-image{
    margin-top: 50px;
    margin-right: 70px;
    justify-content: center;
    width: 70px;
    height: 60px;
    cursor: pointer;
}
.content{
    width: 100%;
    position: relative;
    height: 600px;
    margin-top: 50px;
}
.pink-background{
    background-color: #F5E1FF4D;
    height: 300px;
}
.second-heading{
    display: inline-block;
    text-align: center;
    margin: 40px 460px;
}
.beackground-button{
    width: 35%;
    background-color: #fff;
    position: absolute;
    top: 120px;
    left: 40px;
}
.app-button{
    width: 45%;
    margin-left: 4%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-radius: 4px;
    transition: .3s ease;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}
.app-button.one{
    background-color: #60267F;
    color: #fff;
}
.app-button:hover{
    background-color: #60267F;
    color: #fff;
}
.phone-image{
    position: absolute;
    top: 120px;
    right: 60px;
}
.table-background{
    width: 45%;
    background-color: #fff;
    position: absolute;
    left: 55px;
    top: 190px;
    height: 500px;
}
.text-content-box.first{
    width: 80%;
    background-color: #F2F2F2;
    position: absolute;
    left: 35px;
    top: 20px;
    padding: 30px 20px;
}
.text-content-box.second{
    width: 80%;
    background-color: #F2F2F2;
    position: absolute;
    left: 35px;
    top: 210px;
    padding: 30px 20px;
    cursor: pointer;
}
.text-content-box.third{
    width: 80%;
    background-color: #F2F2F2;
    position: absolute;
    left: 35px;
    top: 308px;
    padding: 30px 20px;
    cursor: pointer;
}
.text-content-box.fourth{
    width: 80%;
    background-color: #F2F2F2;
    position: absolute;
    left: 35px;
    top: 427px;
    padding: 30px 20px;
    cursor: pointer;
}



